ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body {
  color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-hero {
  text-align: center;
}

/*  .flex {
    display: flex;
    margin-left: 85px;
  }
  .flex-link {
    margin-right: 40px;
  } */
.flex .flex-link:last-child {
  margin-right: 0;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-two {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.link {
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.link:active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  /*  display: inline-block; */
}

.link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  /*  display: block; */
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after {
  opacity: 1;
}

.site-nav:hover, .site-nav:focus {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.link-link:visited {
  color: #757575;
}

.link-link:hover {
  color: #2196f3;
  fill: #2196f3;
}

.link.active {
  color: #2196f3;
}

.active-underline::after {
  content: '';
  bottom: 0;
  position: absolute;
  /* display: block; */
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
}

.link-link {
  color: #757575;
  display: inline-block;
}

/*  .main {
    display: flex;
    align-items: center;
  }
  .left {
    margin-left: auto;
  }
  .right {
    margin-right: 50px;
  } */
.phone-icon {
  /* margin-right: 10px; */
  color: #757575;
}

/* .container-hero {
    text-align: center;
  }
  .flex {
    display: flex;
    margin-left: 85px;
  }
  .flex-link {
    margin-right: 40px;
  }
  .flex {   
          .flex-link:last-child  {
          margin-right: 0;
    }
  }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  
  .logo {
    font-family: $raleway-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primary-blue;
  }
  .logo-two {
    font-family: $raleway-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primery-text-kolor;
  }
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  .link:active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .link::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-blue;
    opacity: 0;
    transition: opacity $timing-function;
  }
  .link:hover::after{
    opacity: 1;
  }
.site-nav {
    &:hover,
    &:focus {
        color: $primary-blue;
    }
}
.site-nav {
.link {
    color: $primery-text-kolor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
  }
}
.link-link:visited {
    color: $title-text-kolor;
  }
  .link-link:hover {
    color: $primary-blue;
    fill: $primary-blue;
  }
  .link.active {
    color: $primary-blue;
  }
  .active-underline::after{
    content: '';
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-blue;
    opacity: 1;
  }
  .link-link {
    color: $title-text-kolor;
    display: inline-block;
  }
  .main {
    display: flex;
    align-items: center;
  }
  .left {
    margin-left: auto;
  }
  .right {
    margin-right: 50px;
  }
  .phone-icon {
    margin-right: 10px;
    color: $title-text-kolor;
  } */
.section-hero {
  /*  min-width: 1600px;
    min-height: 480px; */
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero > container {
  text-align: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 32px;
  min-width: 130px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.hero {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 46px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* .section-hero {
    min-width: 1600px;
    min-height: 480px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .section-hero {
      > container {
        text-align: center;
      }
  }
  .btn {
    display: inline-flex;
    padding: 10px 32px;
    min-width: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
  
    background-color: $primary-blue;
    color: $primary-white-color;
    cursor: pointer;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
  
    letter-spacing: 0.06em;
  }
  .hero {
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 46px;
  
    color: $primary-white-color;
  

    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  } */
.advantages {
  /*     display: flex;
    flex-wrap: wrap; */
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advants-iten {
    width: 50%;
  }
}

/*   .advants-iten {
    width: calc((100% - 90px) / 4);
  }
  .advants-iten:nth-child(4n) {
    margin-right: 0px;
  } */
.avants-iten::before {
  /* display: block; */
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-name {
  /*   margin-top: 30px;
    margin-bottom: 10px; */
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  color: #212121;
}

.slogan {
  /*  margin-top: 10px; */
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.foon-iten {
  /*     display: flex;
    justify-content: center;
    align-items: center; */
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* .advantages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .advants-iten {
    width: 270px;
    margin-right: 30px;
  }
  .advants-iten {
    width: calc((100% - 90px) / 4);
  }
  .advants-iten:nth-child(4n) {
    margin-right: 0px;
  }
  .avants-iten::before {
    display: block;
    content: "";
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .title-name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 15;
    letter-spacing: 0.03em;
    color: $primery-text-kolor;
  }
  .slogan {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    color: $title-text-kolor;
  }
  .foon-iten {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
  }
 */
.sectoin-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*   .doing {
    display: flex;
    flex-wrap: wrap;
  } */
.doing-item {
  width: 370px;
  /*  margin-right: 30px; */
}

/*   .doing-iten {
    width: calc((100% - 60px) / 3);
  }
  .doing-item:nth-child(3n) {
    margin-right: 0px;
  }
   */
.headline {
  padding-top: 94px;
  padding-bottom: 50px;
  font-family: Roboto;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  /*  text-align: center; */
}

.caption {
  /*  display: flex; */
  bottom: 0;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px 82px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adv {
  position: relative;
}

/* .sectoin-doing {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .doing {
    display: flex;
    flex-wrap: wrap;
  }
  .doing-item {
    width: 370px;
    margin-right: 30px;
  }
  .doing-iten {
    width: calc((100% - 60px) / 3);
  }
  .doing-item:nth-child(3n) {
    margin-right: 0px;
  }
  
  .headline {
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: Roboto;
    color: $primery-text-kolor;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .caption {
    display: flex;
    bottom: 0;
    position: absolute;
    justify-content: center;
    padding: 27px 82px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
  
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
  .adv {
    position: relative;
  }

  */
.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-iten {
  /*   width: 270px;
    height: 422px; */
  /* margin-right: 30px; */
  margin-bottom: 94px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-iten {
    width: 50%;
  }
}

/*  .team-iten {
    width: calc((100% - 90px) / 4);
  }
  .team-iten:nth-child(4n) {
    margin-right: 0px;
  } */
.name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user {
  margin-top: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.button-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: #afb1b8;
}

.button-btn:hover {
  background: #2196f3;
  cursor: pointer;
  fill: white;
}

.icon-position {
  margin-left: 32px;
}

/* .team {
    background-color: #f5f4fa;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
  .team-iten {
    width: 270px;
    height: 422px;
    margin-right: 30px;
    margin-bottom: 94px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }
  .team-iten {
    width: calc((100% - 90px) / 4);
  }
  .team-iten:nth-child(4n) {
    margin-right: 0px;
  }
  
  .name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $primery-text-kolor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $title-text-kolor;
  }
  .button-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border-radius: 50%;
    fill: #afb1b8;
  }
  
  .button-btn:hover {
    background: $primary-blue;
    cursor: pointer;
    fill: white;
  }
  
  .icon-position {
    margin-left: 32px;
  }

   */
/* .clients {
    display: flex;
    text-align: center;
  } */
@media screen and (min-width: 768px) {
  .container-clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-item {
  /* display: inline-flex; */
  /* align-items: center;
    justify-content: center; */
  /*  width: 170px;
    height: 90px; */
  border: 1px solid #afb1b8;
  /* margin-right: 30px; */
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 33.333%;
  }
}

/*   .clients-item:nth-child(6n) {
    margin-right: 0px;
  } */
.logo-four {
  fill: #afb1b8;
}

.client-iten:hover:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.logo-four:hover {
  fill: #2196f3;
}

/* .clients {
    display: flex;
    text-align: center;
  }
  .container-clients {
    display: flex;
    padding-bottom: 94px;
  }
  .clients-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    margin-right: 30px;
    fill: #afb1b8;
  }
  .clients-item:nth-child(6n) {
    margin-right: 0px;
  }
  .logo-four {
    fill: #afb1b8;
  }
.client-iten:hover {
&:hover {
fill: $primary-blue;
border: 1px solid $primary-blue;
}
}
.logo-four:hover {
    fill: $primary-blue;
  }
   */
.footer {
  background: #2f303a;
}

.footer-container {
  padding-top: 48px;
  /* align-items: baseline; */
  /* display: flex; */
  /* justify-content: space-between; */
}

.logo-tree {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-text {
  padding-top: 10px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link {
  padding-top: 9px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* .footer-icon {
    display: block;
  } */
.join {
  width: 145px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*  .number {
    margin-bottom: 28px;
  } */
.copywriting {
  /*   text-align: center; */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 18px;
  padding-bottom: 21px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

.footer-button {
  /*    display: flex;
    align-items: center;
    justify-content: center; */
  margin: 0;
  width: 200px;
  height: 50px;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*   .footer-form    {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
  } */
/*   .hi {
    text-align: start;
    
  } */
.mailing {
  /* display:block; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.form-footer {
  margin-right: 12px;
}

.form-footer input {
  /*    display: flex;
    align-items: center; */
  padding: 10px 12px;
  /* width: 358px;
    height: 50px; */
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer-button::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/telegram.svg);
  background-size: contain;
}

.icon-color {
  background: rgba(255, 255, 255, 0.1);
}

.link-color {
  fill: #ffffff;
}

.footer-mail {
  /*  display: inline-flex;
    align-items: center;
    justify-content: start; */
  width: 358px;
  height: 50px;
  padding: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

/* 
.footer {
    background: #2f303a;
  }
  .footer-container {
    padding-top: 48px;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
  
  .logo-tree {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
  .footer-text {
    padding-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
  
  .footer-link {
    padding-top: 9px;
  
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-icon {
    display: block;
  }
  .join {
    width: 145px;
    height: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
  .number {
    margin-bottom: 28px;
  }
  .copywriting {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 18px;
    padding-bottom: 21px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 2;
  
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
  }
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 200px;
    height: 50px;
    border: none;
    padding: 10px 28px;
    font-weight: 700;
    background: $primary-blue;
    color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
  .footer-form    {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .hi {
    text-align: start;
    
  }
  .mailing {
    display:block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $primary-white-color;
  }
  .form-footer {
    margin-right: 12px;    
  }
  
  .form-footer input {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    width: 358px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
  
  .footer-button::after {
    content: "";
    width: 20px;
    height: 20px;
  
    margin-left: 10px;
    background-image: url(../images/telegram.svg);
    background-size: contain;
  }
  
  .icon-color {
    background: rgba(255, 255, 255, 0.1);
  }
  .link-color {
    fill: $primary-white-color;
  }
  .footer-mail {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    width: 358px;
    height: 50px;
    padding: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
  }
  
 */
.buttom-iten {
  margin-top: 93px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .buttom-iten {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.button:hover:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.button {
  border: none;
  /* margin-right: 8px; */
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button {
    width: 15%;
  }
}

/* .buttom-iten {
    margin-top: 93px;
    margin-bottom: 50px;
    display: block;
    justify-content: center;
    text-align: center;
  }
  .button:hover {
  .button:focus {
      color: $primary-white-color;
      background-color: $primary-blue;
    } 
  }
  .button {
    border: none;
    margin-right: 8px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    color: $primery-text-kolor;
    border-radius: 4px;
    cursor: pointer;
    transition: color $timing-function,
    background-color $timing-function;
  }
  

    */
@media screen and (min-width: 768px) {
  .flex-container {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.flex-element {
  /*   border-radius: 5px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top-width: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12); */
}

@media screen and (min-width: 768px) {
  .flex-element {
    width: 50%;
  }
}

/* .flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.container-text {
  opacity: 1;
}

.features:hover::before {
  opacity: 1;
}

.features {
  position: relative;
  overflow: hidden;
}

.features::before {
  /*  display: inline-block; */
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-text {
  /*   display: flex;
  width: 100%; */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.text {
  /*  display: flex; */
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  padding: 63px 24px;
  color: #ffffff;
}

.flex-element:hover .container-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.flex-element:hover .features::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img {
  /* 
    display: block; */
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.name-project {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: nowrap;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project {
  /*  width: 322px;
    height: 36px; */
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
  color: #757575;
}

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top-width: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.container-text {
  opacity: 1;
}
.features:hover::before {
  opacity: 1;
}
.features {
  position: relative;
  overflow: hidden;
}
.features::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $timing-function, opacity $timing-function;
}

.container-text {
  display: flex;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.text {
  display: flex;
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  padding: 63px 24px;
  color: $primary-white-color;
}

.link-project:hover {
  .container-text {
    transform: translateY(0);
    opacity: 1;
  }
}

.flex-element:hover {
 .features::before {
    transform: translateY(0);
  }
}
.img {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .name-project {
    flex-wrap: nowrap;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: nowrap;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primery-text-kolor;
  }
  .project {
    width: 322px;
    height: 36px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.03em;
    color: $title-text-kolor;
  }

   */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
}

.modal-form input {
  margin: 0;
  padding: 0;
  padding: 12px 42px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 581px;
  width: 528px;
  padding: 40px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.is-hidden .data-modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  border-color: #2196f3;
  color: #2196f3;
  -webkit-transform: translate(-25px, -45px);
          transform: translate(-25px, -45px);
  border-color: #2196f3;
  background-origin: border-box;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: aliceblue;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  color: #757575;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .icon-input {
  fill: #2196f3;
}

.form-comment {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment {
  position: relative;
  outline: none;
  padding: 12px 16px;
}

.comment:focus {
  border: 1px solid #2196f3;
}

.comment:focus + .form-comment,
.comment:not(:placeholder-shown) + .form-comment {
  color: #2196f3;
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 4px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-policy {
  margin-bottom: 30px;
}

.modal-policy .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-policy {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-policy {
  color: #2196f3;
  margin-left: 5px;
}

.modal-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 40px;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-20%, 20%);
          transform: translate(-20%, 20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.close-btn:hover {
  -webkit-transform: rotate3d(2, 2, 2, 100deg);
          transform: rotate3d(2, 2, 2, 100deg);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;
  opacity: 1;
  visibility: visible;
  transition: opacity $timing-function,
  visibility $timing-function;

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 28px;

}
.modal-form input {

  margin: 0;
  padding: 0;
  padding: 12px 42px;
  background: #FFFFFF;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $timing-function;

  height: 581px;
  width: 528px;
  padding: 40px;

  text-align: center;

  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.is-hidden .data-modal {
  transform: translate(-50%, -50%) scale(1);
}
.modal-title{
  display: block;
  margin-bottom: 30px;

  font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: $primery-text-kolor;
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  border-color: $primary-blue;
  color: $primary-blue;
  transform: translate(-25px, -45px);
  border-color: $primary-blue;
  background-origin: border-box;


}
.form-input {
width: 100%;
border-radius: 4px;
outline: none;
}
.form-input:focus {
  border: 1px solid $primary-blue;
}
.form-label{
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  color: aliceblue;
  transition: transform 250ms linear;
  color: $title-text-kolor;

  }
  .icon-input {

    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
  }
  .form-input:focus ~ .icon-input{
    fill: $primary-blue;

  }

  .form-comment {
    position: absolute;
    top: 12px;
    left: 16px;


    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.01em;

    color: $title-text-kolor;
  }
  .comment {
    position: relative;
    outline: none;
    padding: 12px 16px;
  }
  .comment:focus{
    border: 1px solid $primary-blue;
  }
  .comment:focus + .form-comment,
  .comment:not(:placeholder-shown) + .form-comment {
   color: $primary-blue;
   transform: translateY(-34px);
   transition: transform 250ms linear;
 }
  .label {
    display: flex;
    align-items: center;
    margin-left: 4px;
  }
  .checkbox {

    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 9px;     
    border-radius: 4px;
    border: 2px solid $primery-text-kolor;
    border-radius: 4px;
  }
  .checkbox:checked + .checkbox-icon {
    border-color: $primary-blue;
    background-color: $primary-blue;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
  .modal-policy {
    margin-bottom: 30px;
}

.modal-policy .label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $title-text-kolor;
}
.text-policy{
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;

color: $title-text-kolor;
}
.link-policy {
    color: $primary-blue;
    margin-left: 5px;
}
.modal-btn {
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primary-white-color;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  .close-btn:hover{
    transform: rotate3d(2, 2, 2, 100deg);
    transition: transform $timing-function;
  } 
 */
/*# sourceMappingURL=main.css.map */