.container-hero {
 /*  position: relative; */
}
.flex {
  @media screen and(min-width:480px) {
    display: flex;
    margin: -25px;
    /* margin-left: 85px; */
  }
 
}
.flex-link { 
  @media screen and (min-width:480px) {
   width: calc((100% - 3 * 50) / 3);
   margin: 25px;
}
}
.container {
 /*  width: 1200px; */
  margin-left: auto;
  margin-right: auto;
 /*  padding: 0 15px; */
}
/* .container-logo {
  flex-wrap: nowrap;
} */

.logo {
  font-family: $raleway-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $primary-blue;
}
.logo-two {
  font-family: $raleway-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $primery-text-kolor;
}
.link {
  @media screen and (max-width:479px) {
    display: inline-block;
  }
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.link:active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
}
.link::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $primary-blue;
  opacity: 0;
  transition: opacity $timing-function;
}
.link:hover::after{
  opacity: 1;
}

.site-nav {
  &:hover,
  &:focus {
      color: $primary-blue;
  }
}
.site-nav {
  @media screen and(max-width:767px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
.link {
  color: $primery-text-kolor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

}
.link-link:visited {
  color: $title-text-kolor;
}
.link-link:hover {
  color: $primary-blue;
  fill: $primary-blue;
}
.link.active {
  color: $primary-blue;
}
.active-underline::after{
  content: '';
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $primary-blue;
  opacity: 1;
}
.link-link {
  color: $title-text-kolor;
  display: inline-block;
}
.menu-button {
  display: iline-flex;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
 
    .icon-close {
      display: none;
    }
@media screen and(min-width:480px) {
  display: none;
}
}
.menu-button.is-open .icon-close{
display: block;
}
.menu-button:hover,
.menu-button:focus {
  fill: $primary-blue;
}
.menu-button.is-open .icon-menu{
  display: none;
  }
  .container-menu{
    text-align: center;
   /*  padding: 20px; */
    background-color: $primary-white-color;

 @media screen and(max-width:478px){
  position: absolute;
  top: 100%;
  display: none;
  left: 0;
  width: 100%;
  &.is-open{
    display: block;
  }
 }
 @media screen and(min-width:480px){
   display: flex;
   flex-grow: 1;
   justify-content: space-between;
  }
}
.main {
  @media screen and(min-width:480px){
  display: flex;
  align-items: center;
}
}
/* .left {
  @media screen and(min-width:480px) {
    display: flex;
    margin-left: 85px;
  }
} */
/* .right {
  margin-right: 50px;
} */
.phone-icon {
  margin-right: 10px;
  color: $title-text-kolor;
} 
  /* .container-hero {
    text-align: center;
  }
  .flex {
    display: flex;
    margin-left: 85px;
  }
  .flex-link {
    margin-right: 40px;
  }
  .flex {   
          .flex-link:last-child  {
          margin-right: 0;
    }
  }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  
  .logo {
    font-family: $raleway-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primary-blue;
  }
  .logo-two {
    font-family: $raleway-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $primery-text-kolor;
  }
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  .link:active {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: inline-block;
  }
  .link::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-blue;
    opacity: 0;
    transition: opacity $timing-function;
  }
  .link:hover::after{
    opacity: 1;
  }
.site-nav {
    &:hover,
    &:focus {
        color: $primary-blue;
    }
}
.site-nav {
.link {
    color: $primery-text-kolor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
  }
}
.link-link:visited {
    color: $title-text-kolor;
  }
  .link-link:hover {
    color: $primary-blue;
    fill: $primary-blue;
  }
  .link.active {
    color: $primary-blue;
  }
  .active-underline::after{
    content: '';
    bottom: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-blue;
    opacity: 1;
  }
  .link-link {
    color: $title-text-kolor;
    display: inline-block;
  }
  .main {
    display: flex;
    align-items: center;
  }
  .left {
    margin-left: auto;
  }
  .right {
    margin-right: 50px;
  }
  .phone-icon {
    margin-right: 10px;
    color: $title-text-kolor;
  }  */

  