/* .clients {
    display: flex;
    text-align: center;
  } */
  .container-clients {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .clients-item {
    @media screen and (min-width: 768px) {
      width: 33.333% ; 
    }
    /* display: inline-flex; */
    /* align-items: center;
    justify-content: center; */
   /*  width: 170px;
    height: 90px; */
    border: 1px solid #afb1b8;
    /* margin-right: 30px; */
    fill: #afb1b8;
  }
/*   .clients-item:nth-child(6n) {
    margin-right: 0px;
  } */
  .logo-four {
    fill: #afb1b8;
  }
.client-iten:hover {
&:hover {
fill: $primary-blue;
border: 1px solid $primary-blue;
}
}
.logo-four:hover {
    fill: $primary-blue;
  }
  
  /* .clients {
    display: flex;
    text-align: center;
  }
  .container-clients {
    display: flex;
    padding-bottom: 94px;
  }
  .clients-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    margin-right: 30px;
    fill: #afb1b8;
  }
  .clients-item:nth-child(6n) {
    margin-right: 0px;
  }
  .logo-four {
    fill: #afb1b8;
  }
.client-iten:hover {
&:hover {
fill: $primary-blue;
border: 1px solid $primary-blue;
}
}
.logo-four:hover {
    fill: $primary-blue;
  }
   */