$primery-text-kolor: #212121;
$title-text-kolor: #757575;
$primary-white-color: #ffffff;
$imary-background-color: #e5e5e5;
$primary-blue: #2196f3;
$timing-function: 250ms  cubic-bezier(0.4, 0, 0.2, 1);
$raleway-font-family: Raleway;